.seat {
  background-color: pink;
  margin-left: 11px;
  display: inline-block;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid black;
  height: 175px;
  width: 175px;
}

.clicked {
  background-color: green;
  border: 1px solid black;
}
.row {
  position: block;
  margin-bottom: 15px;
  text-align: center;
}
.form-control{
  text-align: center;
  }
#inputButton{
  text-align: center;
  }

.taken {
  background-color: red;
  border: 1px solid black;

}

.navbar-form{
  object-position:center;

}

/* credit for getting screen to work goes to Luka Čavka */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}
