.seat {
  background-color: pink;
  margin-left: 11px;
    display: inline-block;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid black;
  height: 175px;
  width: 175px;
}

.clicked {
  background-color:green;
  border: 1px solid black;
}
.row {
  position: block;
  margin-bottom: 15px;
  text-align: center;
}
.taken {
  background-color: red;
  border: 1px solid black;

}
